<a href="https://colab.research.google.com/github/AIhexNICK-MAIL-RU/gb_python_beg_tasks/blob/main/gb_python_beg_hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Условие 1:
Оформляйте ноутбук, используя эти советы:

Номер задачи - заголовок 2

Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

Рекомендации для преподавателей по оценке задания:

Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

# Условие 2 (?):
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [6]:
fruits = {'banana': 24,
          'mango': 14,
          'orange': 30}
#counts = {24, 14, 30}

In [41]:
import collections

In [4]:
def get_sum_f():
  sum(fruits.values())
  return

print(get_sum_f)

<function get_sum_f at 0x7f25ca2dc3a0>

In [7]:
fruits = {'banana', 'mango', 'orange'}
counts = {24, 14, 30}

In [12]:
def get_fruits(fruits: list, counts: list) -> dict:
  res_dict = {}
  for i in range(len(fruits)):
    res_dict.update({fruits[i]: counts[i]})
  return res_dict

get_fruits(fruits, counts)

TypeError: ignored

In [8]:
def sum_fruit(fruits: list, counts: list) -> dict:
  for i in range(len(fruits)):
      res_dict.update({'sum': counts[i]})
      return res_dict
  return {}
      #'sum': sum(counts)

sum_fruit

In [22]:
get_fruits.get('key')

AttributeError: ignored

In [20]:
sum_fruits = sum(get_fruits.values())

AttributeError: ignored

In [13]:
get_sum = sum(counts)
print(get_sum)

68

In [7]:
def get_sum_fruits():
  res = {}
  for i in range(get_fruits):
    sum(counts)
  return res

get_sum_fruits

In [ ]:
fruit_dict = {
    "banana": 24,
    "mango": 14,
    "orange": 30
}



def fruit_count():
  res = {}
  for i in range(len)

In [ ]:
import random

n = 0
fruit_dict = {
    "fruit + (n + 1)": "{random.randint(0, 100)}"
}

def count_fruits()

def fruits(base_fruit: dict, keys) -> dict:

In [3]:
import random

n = 0
fruit_dict = {
    "fruit + (n + 1)": "{random.randint(0, 100) for i in range(5)}"
}
fruit_dict

{'fruit + (n + 1)': '{random.randint(0, 100) for i in range(5)}'}

In [ ]:
def count_fruit(*args):
  return {'sum': sum(args),
          'avg': sum(args) / len(args)}

calc(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [ ]:
list1 = [100, 125, -90, 345, 655, -1, 0, 200]

In [5]:
res = 0
def get_rek():

  res_list = []
  for i in range(len(list1)):
    if list1[i] > 0:
      res_list.add(i)
    res += res_list[i]

print(res)

0

In [ ]:
def get_pay(list1: list) -> dict:
  return {keys[i]: values[i] for i in range(len(values))}

get_dict(keys, values)

# Условие 4.1:
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [6]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30',
 '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18',
 '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20',
 '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
 '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

buy = [1270, 8413, 9028, 3703, 5739, 4095,
  295, 4944, 5723, 3701, 4471, 651,
  7037, 4274, 6275, 4988, 6930, 2971,
  6592, 2004, 2822, 519, 3406, 2732,
  5015, 2008, 316, 6333, 5700, 2887]

# 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [7]:
def get_dict(date: list, buy: list) -> dict:
  return {date[i]: values[i] for i in range(len(values))}

get_dict(buy, values)

NameError: ignored

# 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.