<a href="https://colab.research.google.com/github/AIhexNICK-MAIL-RU/gb_python_beg_tasks/blob/main/gb_sem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 0 задача

Весь ноутбук оформляйте с заголовками и текстами:

```
    code
```

- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

### 1.1 Соедините два словаря в один

```
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

In [ ]:
dict1.update(dict2)
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

# 1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь
Используйте аннотирование типов

In [ ]:
def merge_dict(dict1: dict, dict2: dict) -> dict:
    dict1.update(dict2)
    return dict1

merge_dict(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

# 2 задача
Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения

keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [ ]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

## 2.1 через цикл for

In [ ]:
def get_dict(keys: list, values: list) -> dict:
  res_dict = {}
  for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
  return res_dict

get_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

##2.2 dict comprehensions - работает быстрее чем через цикл for

In [ ]:
def get_dict(keys: list, values: list) -> dict:
  return {keys[i]: values[i] for i in range(len(values))}

get_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

# 3.1 задание

Извлеките только два ключа name и age из представленного словаря

![Picture1.png]()

Функция на вход принимает:
исходный словарь
ключи, которые нужно извлечь (аргумент по умолчанию)
На выходе словарь с нужными ключами
Используйте аннотирование типов

In [ ]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 5000,
    "city": "Moscow"
}

keys = ['name', 'age']

In [ ]:
def get_keys_from_dict(base_dict: dict, keys: list=['name', 'age']) -> dict:
  res = {}
  for k in keys:
    res.update({k: base_dict[k]})
  return res

get_keys_from_dict(client_dict)

{'name': 'John', 'age': 25}

# 3.2 dict comprehensions

In [ ]:
new_dict = {i: client_dict[i] for i in keys}
new_dict

{'name': 'John', 'age': 25}

# 5.1 Найдите картинку и прикрепите ее в ячейку с текстом

<img src='https://cdn.playcaliber.com/site/media/news/2021/06/01/4-%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B0-%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%B0%D1%8F-%D0%BF%D0%BE-%D1%80%D0%B5%D0%B6%D0%B8%D0%BC%D0%B0%D0%BC-1280%D1%85853.jpg' width=500>

# 5.2 Создайте талбицу в ячейке с текстом

<table>
    <tr>
        <td> </td>
        <td>До события</td>
        <td>Во время события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
        <td>800</td>
    </tr>
    <tr>
        <td>итог за победу</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
</table>

# 6 задача

Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.

* На вход поступают целочисленные значения в любом количестве
* На выходе словарь с ключами суммы трат и средней траты

In [ ]:
def calc(*args):
  return {'sum': sum(args),
          'avg': sum(args) / len(args)}

calc(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

{'sum': 55, 'avg': 5.5}

# 4 задача

## 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
* Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
* Используйте list comprehensions

In [ ]:
import random
random.seed(6)

num = [random.randint(0, 100) for i in range(5)]
num

[73, 10, 62, 97, 33]

## 4.2* Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
Напишите генератор
* Внутри генератора реализуйте обход по списку с данными
* На каждой итерации генератор будет возвращать кортеж из двух элементов:

* данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
* целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации

Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.

Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [ ]:
import time

def elapsed_since(data):
  last_time = None

  for i in data:
    current_time = time.time()
    if last_time:
      delta = current_time - last_time
    else:
      delta = current_time - current_time

    last_time = time.time()
    yield (int(delta), i)

In [ ]:
for i in elapsed_since(num):
  print(i)
  time.sleep(2)

(0, 73)
(2, 10)
(2, 62)
(2, 97)
(2, 33)